.candidate_table{
	border-collapse: collapse;
	padding: 5px;
}

.candidate_county_commission, .candidate_wake_da, .candidate_clerk_of_court, .candidate_nc_senate_15, .candidate_nc_house_49{
	background-color: #2275BB;
	color: white;
}

.position{
	text-align:center;
	vertical-align:middle;
	text-decoration:underline;
}